html,
body {
  min-height: 100%;
  margin: 0;

  background: linear-gradient(135deg, #0b1020, #132a3a, #1b3b4f, #223c54, #16222f, #0b1020);

  background-size: 500% 500%;
  animation: gradientMove 28s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
